input {
    box-sizing: border-box;
    margin-right: 6px;
    border-radius: .25rem !important;
}

.marker-text {
    margin-left: 5px;
    word-break: break-all;
}

h1 {
    margin: 65px 0 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

#add {
    margin-right: 5px;
}

#add, #clear {
    border-radius: .25rem !important;
}

#add:hover, #clear:hover {
    background-color: #6c757d !important;
}
.btn-outline-secondary {
    color: #212529;
}

.deletebutton {
    border-color: white;
    padding: 0;
    height: 25px;
    width: 25px;
}

.deletebutton:hover {
    color: #6c757d;
}

.edit {
    border-color: transparent;
    height: 40px;
    width: 100%;
}

.edit:focus-visible {
    outline: transparent auto 1px;
}

.show {
    visibility: visible;
}

.width {
    width: 100%;
}

.margin {
    margin: auto;
}

.done {
    text-decoration: line-through;
}

.itemdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    border: 1px solid #333;
    border-radius: 5px;
}

.itemdiv:hover > .deletebutton {
    visibility: visible;
}
