<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<div th:if="${!#authorization.expression('isAuthenticated()')}">
    <table border="1">
        <tr>
            <td>
                <div>
                    <form method="get" th:action="@{/login}">
                        <button>
                            Login In
                        </button>
                    </form>
                </div>
            </td>
            <td>
                <form method="get" th:action="@{/registration}">
                    <button>
                        Register
                    </button>
                </form>
            </td>
        </tr>
    </table>
</div>

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <table border="1">
        <tr>
            <td>
                <span sec:authentication="principal.UserFullName">Username</span>
            </td>
            <td>
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <form method="get" th:action="@{/travel/journey/profile}">
                        <input type="hidden" name="act" value="add"/>
                        <button type="submit">Create</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>

<table border="1">
    <tr>
        <td>
            <form method="get" th:action="@{/travel/journey/list}">
                <button type="submit">
                    <input name="req" type="hidden" value="opn"/>
                    <b>Открытые</b>
                </button>
            </form>
        </td>

        <td th:if="${#authorization.expression('isAuthenticated()')}">
            <form method="get" th:action="@{/travel/journey/list}">
                <button type="submit">
                    <input name="req" type="hidden" value="prt"/>
                    <b>Участвую</b>
                </button>
            </form>
        </td>

        <td>
            <form method="get" th:action="@{/travel/journey/list}">
                <div>
                    <input name="req" type="hidden" value="ttl"/>
                    <input name="ttl" type="text" value placeholder="Поиск:"
                           minlength="1"/>
<!--                    th:attr="maxlength=${T(com.example.util.constants.JourneyConst).title_length_max}"-->
<!--                    th:pattern="${T(com.example.util.constants.JourneyConst).title_search_validator_regEx}"-->
                    <button type="submit"> 🔎 </button>
                </div>
            </form>
        </td>
    </tr>
</table>

<table border="1">
    <tr th:each="journey : ${journey_list}">
        <td>
            <form method="get" th:action="@{/travel/journey/profile}">
                <button type="submit">
                    <div>
                        <p th:text="${journey.title}"/>
                        <p th:text="${journey.description}"/>
                    </div>
                </button>
                <input type="hidden" name="id" th:value="${journey.id}">
                <input type="hidden" name="act" value="obs">
            </form>
        </td>
    </tr>
</table>

</body>
</html>