<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing Vue!</title>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>-->

    <!--   Links for vuetify!  -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script th:inline="javascript">
        var frontendData = [[${frontendData}]];
    </script>
</head>
<body>

        <div id="app">
            <h5><label th:text="${profile}"/></h5>
        </div>
    <!--<script src="js/main.js"> </script>-->
    <script src='http://localhost:8000/main.js'> </script>

</body>
</html>