<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hello World!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/draggable.bundle.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link th:href="@{/styles/css/map.css}" rel="stylesheet" />
    <script src="js/geoposition.js" charset="utf-8"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <form th:action="@{/logout}" method="post">
                <input type="button" value="Sign Out"/>
            </form>
        </div>
        <div class="col-md-auto">
            <input id="deleteMarkers" type="button" value="Clear map"/>
        </div>
        <div class="col-md-auto">
            <input id="sendRoute" type="button" value="Send Route"/>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-9">

            <div id="mapid" style="width: 100%; height: 500px;"></div>
            <script src="js/map.js" charset="utf-8"></script>
        </div>

        <div class="col-3">

            <ul id="list">
            </ul>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
            <script type="text/javascript" src="js/markerList.js"></script>
        </div>
    </div>
</div>
<script>

</script>

</body>
</html>