<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new user
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="name"/> </label></div>
    <div><label> Email: <input type="text" name="email"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <div><input type="submit" value="Add"/></div>
</form>
</body>
</html>