<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Route Observer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
<div id="mapid" style="width: 800px; height: 500px;"></div>
<script th:inline="javascript" >
    /*<![CDATA[*/
    let route = [];
    let routeid;
    route = /*[[${route}]]*/ 'default';
    routeid = /*[[${id}]]*/ 'default';
    /*]]>*/
</script>
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <input id="editRoute" type="button" value="Edit Route"/>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/routeObserver.js}"></script>
</body>
</html>