<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Route Observer</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link th:href="@{/styles/css/map.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <input id="editRoute" type="button" value="Edit Route"/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-9">
            <div id="mapid" style="width: 800px; height: 500px;"></div>
        </div>
    </div>
</div>
<script th:inline="javascript" >
    /*<![CDATA[*/
    let route = [];
    let routeid;
    route = /*[[${route}]]*/ 'default';
    routeid = /*[[${id}]]*/ 'default';
    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/js/routeObserver.js}"></script>
</body>
</html>