<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of users</title>
    <style>
    h1 {
    color: black;
    font-family: "Times New Roman", Georgia, Serif;
    line-height: 1.3em;
    }
    table {
    width: 50%;
    padding: 4px 10px;
    border: 1px solid #666;
    background: #cce6ff;
    color: #1c87c9;
    font-size: 16px;
    border-radius: 10px;
    margin: 0 auto;
    }
    </style>
</head>
<body bgcolor="#ccffcc">
<h1 align="center">List of users</h1>
<div class="form-group">
    <input type="text" class="form-control pull-right" id="search" placeholder="Find">
</div>
<table class="table table-striped" id="mytable" cellspacing="0" style="width: 100%;">
    <thead>
    <tr>
        <td>Email</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Is Active</td>
        <td>Was Banned</td>
        <td>Ban Options</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${user}">
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.firstName}">First Name</td>
        <td th:text="${user.lastName}">Last Name</td>
        <td th:text="${user.active}">Is Active</td>
        <td th:text="${user.wasBanned}">Was Banned</td>
        <td><a th:href="@{/banUser/{userId}(userId=${user.getId()})}">Ban</a></td>
        <td><a th:href="@{/unbanUser/{userId}(userId=${user.getId()})}">Unban</a></td>
    </tr>
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#search").keyup(function(){
            _this = this;
            $.each($("#mytable tbody tr"), function() {
                if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>
</body>
</html>